<div class="hero-unit">
  <Center>
  <h1>Welcome to Cupidicon</h1>
  <p>The world's first content site for sentiment!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
  <c/center>
</div>

<div class="row">
  <div class="span4" >
    <h2>Need Content?</h2>
    <p>Looking for emotional content?
    <p style="text-align: justify;">We know that sometimes the words won't come, and inspiration can be hard to find.</P>
    <p style="text-align: justify;">Cupidicon provides you with access to hundreds of quality writers ready and waiting to fulfill your requests.</p>
    <p>You are not alone.</p>
  </div>
  <div class="span4" >
    <h2>Write Content</h2>
   <p>Looking to be creative?</p>
    <p>You are in the right place.</p>
    <p>Cupidicon provides a portal to unleash your talent.</p>
    <p style="text-align: justify;">With hundreds of client projects just waiting to be written, have you got what it takes to fulfill their needs?</p>
  </div>
  <div class="span4">
    <h2>Share Content</h2>
    <p style="text-align: justify;">Sharing is caring.</p> 
    <p style="text-align: justify;">Giving can be a rewarding experience, which is why Cupidicon have created a space where you can share your feelings with the world.</p>
  </div>
</div>