<div class="hero-unit">
  <Center>
  <h1>Welcome to Cupidicon</h1>
  <p>The world's first content site for sentiment!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
  <c/center>
</div>

<div class="row">
  <div class="span4">
    <h2>Need Content?</h2>
    <p>This is some content about how create point 1 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
  </div>
  <div class="span4">
    <h2>Write Content</h2>
    <p>This is some content about how create point 2 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
  </div>
  <div class="span4">
    <h2>Share Content</h2>
    <p>This is some content about how create point 3 is. You should really use Bloccit because of it! No seriously, it really is amazing and great and you should really check it out.</p>
  </div>
</div>